.todo-item-container {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-item-container:hover .todo-item-options.view {
  visibility: visible;
}

.todo-item-container:not(:last-child) {
  border-bottom: 1px solid #ededed;
}

.todo-item-toggle {
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
}

.todo-item-toggle img {
  max-width: 100%;
}

.todo-item-content {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  padding: 0 20px;
  flex: 1;
}

.todo-item-content.completed {
  color: #d9d9d9;
  text-decoration: line-through;
}

.todo-item-content input {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 29px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ededed;
}

.todo-item-options {
  flex: 0;
  display: flex;
  align-items: center;
}

.todo-item-options.view {
  visibility: hidden;
}

.todo-item-options.edit {
  visibility: visible;
}

.todo-item-options .icon-btn {
  width: 15px;
  height: 15px;
  display: block;
  cursor: pointer;
}

.todo-item-options .icon-btn:not(:first-child) {
  margin-left: 15px;
}

.todo-item-options .icon-btn img {
  max-width: 100%;
}
