.todo-footer-container {
  position: relative;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.todo-menus a {
  color: #777;
  font-weight: 300;
  text-decoration: none;
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 8px;
}

.todo-menus a.active, .todo-menus a:hover {
  border: 1px solid rgba(175, 47, 47, 0.2);
}

.todo-left-count {
  color: #777;
  font-weight: 300;
  position: absolute;
  left: 20px;
}

.todo-clear-complete {
  color: #777;
  font-weight: 300;
  text-decoration: none;
  position: absolute;
  right: 20px;
}
